<%include partials/header%>
<container class="pagina">
    <div id="primeiraParte">
        <section class="container_text">
            <div id="primeiroBloco">
                <h1>Bem-vindo ao Núcleo SôForrozeiro!</h1>
                <h3 class="text_cabecalho"> Sobre o núcleo: </h3>
                <p>
                    O Núcleo SôForrozeiro é um movimento de dança que ensina o forró e suas variações, 
                    inclusive um estilo de forró desenvolvido pelo próprio núcleo; rico em movimentos, 
                    musicalidade e fortemente influenciado pela dança de salão.
                </p>
                <p>
                    Buscamos, em nossa essência, transformar a vida das pessoas através da dança. 
                    Alegria, descontração, espontaneidade, diversão, auto superação, amizade e cultura 
                    são palavras chaves que ajudam a definir os valores e conceitos do nosso projeto de 
                    forró. Buscamos, também, estimular nossos membros a participarem de todos os eventos
                    acerca da cultura do forró. Quer conhecer!? 
                </p>
                <p>
                    <a href="/eventos">Veja todos os eventos aqui!</a>
                </p>
            </div>
        </section>
    </div>
                <!-- Fim texto-->
                <!-- Inicio Container Missão,Visão e Valor-->
                <section id="container_mvv">
                    <div class="item">
                        <figure> <img class="mvv" src="img/missao.png" alt="Missão"> </figure>
                        <p>• Liberdade e Respeito;</p>
                        <p>• Positividade Predominante;</p>
                        <p>• Boa Receptividade;</p>
                        <p>• Desenvolvimento Continuo;</p>
                        <p>• Inovação;</p>
                        <p>• Engajamento e Presença;</p>
                        <p>• Dedicação e Esforço;</p>
                        <p>• Confiança e Transparência.</p>
        
                    </div>
        
                    <div class="item">
                        <figure> <img class="mvv" src="img/valores.png" alt="Valores"> </figure>
                        <p>• Ensinar as pessoas como dançar bem;</p>
                        <p>• Criar bons relacionamentos entre as pessoas;</p>
                        <p>• Desenvolvimento pessoal;</p>
                        <p>• Promover o respeito;</p>
                        <p>• Promover a inclusão das diferenças.</p>
        
                    </div>
                    <div class="item">
                        <figure> <img class="mvv" src="img/visao.png" alt="Visão"> </figure>
                        <p class="text">• Ser uma comunidade composta por pessoas que compartilham dos mesmos valores, missão, visão.</p>
        
                    </div>
                </section>
                <!-- Fim texto -->
                <section id="container_professor">
                    <section class="item_professor">
                        <figure> <img class="fig_professor" src="img/forro.png" alt="Forró"> </figure>
                        <h3>Alê Colpas <h3>
                                <h6>Dançarino</h6>
                                <p class="text">27 anos, gosta de paraquedismo e bate bafinho como ninguém. Especialista em Roots.</p>
                    </section>
                    <section class="item_professor">
                        <figure> <img class="fig_professor" src="img/will.png" alt="Forró"> </figure>
                        <h3>Will Agassis <h3>
                                <h6>Dançarino</h6>
                                <p class="text">29 anos, ariano, gosta de açaí e de aprender palavras complicadas.</p>
                    </section>
                    <section class="item_professor">
                        <figure> <img class="fig_professor" src="img/yuri.png" alt="Forró"> </figure>
                        <h3>Yuri Weilemann <h3>
                                <h6>Dançarino</h6>
                                <p class="text">O quê esse rapaz está fazendo aqui?</p>
                    </section>
                    <section class="item_professor">
                        <figure> <img class="fig_professor" src="img/gabi.png" alt="Forró"> </figure>
                        <h3 class="cab">Gabi Destro <h3>
                                <h6>Dançarino</h6>
                                <p class="text">20 anos. Além do forró, possui uma paixão pelo Street Dance.</p>
                    </section>
                    <section class="item_professor">
                        <figure> <img class="fig_professor" src="img/caio.png" alt="Forró"> </figure>
                        <h3>Caio Cabelo <h3>
                                <h6>Dançarino</h6>
                                <p class="text">22 anos. Gosta de jogar futebol e de fazer penteados estranhos.</p>
                    </section>
        
                    <section class="item_professor">
                        <figure> <img class="fig_professor" src="img/afranio.png" alt="Forró"> </figure>
                        <h3>Afrânio Augusto <h3>
                                <h6>Dançarino</h6>
                                <p class="text">Uma lenda entre os homens. É tipo um super trunfo do forró.</p>
                    
                
            </container>
<%include partials/footer%>