<%include ../partials/header%>

<div class="container" id="containerIndex">
        <div class="container">
            <h1>Bem vindo ao Núcleo SôForrozeiro</h1>
            <p>Veja os eventos da nossa comunidade!</p>
            <p>
                <a class="btn btn-primary btn-lg" href="/eventos/new"> Adicionar novo evento</a>
            </p>
        </div>
    </header>
    <div class="row text-center" style="display: flex; flex-wrap: wrap;">
        <%eventos.forEach(function (evento) { %>
        <div class="col-md-3 col-sm-6">
            <div class="thumbnail zoom">
                <img src="<%=evento.image%>">
                <div class="caption">
                    <h4><%=evento.name%></h4>
                </div>
                <p>
                    <a href="/eventos/<%=evento._id%>" class="btn btn-primary">Mais informações</a>
                    </p>
            </div>


        </div>
        <% }); %>

    </div>
</div>

<%include ../partials/footer%>